<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745042862704-l5e2c013b5q65vg7gnk4ajf4o9njilt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745042862704-l5e2c013b5q65vg7gnk4ajf4o9njilt8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>745042862704-pa83r48gv44irg5985v9443kh1n303ie.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_waYsz1FXvZZmHx1Ss5QC895D4YT2f20</string>
	<key>GCM_SENDER_ID</key>
	<string>745042862704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.colchesterchristianacademy.lovecca</string>
	<key>PROJECT_ID</key>
	<string>love-cca</string>
	<key>STORAGE_BUCKET</key>
	<string>love-cca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745042862704:ios:49f966155c5384de034ab5</string>
	<key>DATABASE_URL</key>
	<string>https://love-cca.firebaseio.com</string>
</dict>
</plist>