<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="5" android:usesCleartextTraffic="true" package="ca.colchesterchristianacademy.lovecca" android:installLocation="auto" android:versionName="105">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application tools:replace="android:label" android:label="Love CCA" android:theme="@style/MainTheme" android:extractNativeLibs="true">
		<activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity" android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="ca.colchesterchristianacademy.lovecca.braintree" />
			</intent-filter>
		</activity>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>